// div._loading_overlay_wrapper {
//     position: unset;
// }
.manage-booking-container {
    margin-top: 20px;
    .manage-booking-body {
        margin-top: 30px;

        .btn-cancel,
        .btn-info,
        .btn-confirm {
            width: 30px;
            border: none;
            outline: none;
            background: transparent;
            color: #0071ba;
            cursor: pointer;
            &:hover {
                background-color: transparent !important;
                color: orange;
            }
        }
        .status {
            font-weight: 500;
            color: rgb(255, 255, 255);
            border-radius: 5px;
            text-align: center;
        }
        .none-appointment {
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
