.label-adduser {
    margin: 5px 0px;
    font-weight: 600;
}
.btn-add-redux {
    height: auto;
    margin-top: 15px;
    width: 200px;
}
.btn-save-redux {
    height: auto;
    margin-top: 15px;
    width: 150px;
}
.preview-img-container {
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background: #0071ba;
        cursor: pointer;
        color: white;
        &:hover {
            background: orange;
        }
    }
    .preview-image {
        height: 100px;
        width: 100%;
        border: 1px solid rgb(151, 150, 150);
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}
