.doctor-schedule-container {
    border-right: 2px solid #ddd;

    height: 100%;
    .all-schedule {
        select {
            background: transparent;
            border: none;
            color: #337ab7;
            outline: none;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight: bold;
            padding: 3px;
            cursor: pointer;
        }
    }

    .all-available-time {
        .text-calendar {
            color: #333;
            margin: 10px 0px;
            i {
            }
            span {
                text-transform: uppercase;
                margin-left: 4px;
            }
        }

        .time-content {
            .time-content-btn {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                button {
                    border: 3px solid #fff04b;
                    padding: 8px 10px;
                    //border: none;
                    outline: none;
                    background-color: #fff04b;
                    min-width: 160px;
                    border-radius: 3px;
                    font-weight: 600;
                    color: #333;
                    &:hover {
                        border: 3px solid #45c3d2;
                    }
                }
                .no-schedule {
                    font-style: italic;
                    font-size: 14px;
                }
            }
            .book-free {
                margin-top: 10px;
            }
        }
    }
}
