.login-background {
    height: 100vh;
    background: linear-gradient(90deg, #94719a, #3ac5c9);

    .login-container {
        max-width: 500px;
        min-width: 300px;
        height: 500px;
        width: 400px;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .login-content {
            padding: 20px;

            .login-title {
                font-size: 30px;
                font-weight: 600;
            }

            .login-input {
                margin: 12px 0px;
                border: none;
                border-radius: none;
                outline: 0;
                border-bottom: 1px solid #999;
            }
            .login-with {
                font-weight: 600;
            }

            .social-login {
                text-align: center;
                display: flex;
                // text-align: center;
                justify-content: center;
                margin-top: 10px;
                .social-icon {
                    font-size: 36px;
                    margin: 5px 10px;
                }
                .fb {
                    font-size: 30px;
                    background: #307aaf;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }

                .gg {
                    font-size: 30px;
                    background: red;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                }
            }

            .login-password {
                position: relative;
                .show-password {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: #777;
                    cursor: pointer;
                }
            }
        }
    }
    .btn-login {
        width: 100%;
        margin: 12px 0px;
        border: none;
        color: #fff;
        padding: 8px 0px;
        border-radius: 25px;
        cursor: pointer;
        background: linear-gradient(90deg, #94719a, #3ac5c9);
    }
    .forgot-password {
        float: right;
        font-size: 12px;
    }
}

// .login-background {
//     height: 100vh;
//     background: linear-gradient(90deg, #94719a, #3ac5c9);

//     .login-container {
//         width: 400px;
//         height: 450px;
//         background: white;
//         border-radius: 10px;
//         position: absolute;
//         margin: auto;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         top: 0;
//         .login-content {
//             padding: 15px;
//             .text-login {
//                 text-align: center;
//                 font-weight: 600;
//                 font-size: 24px;
//                 padding-top: 10px;
//             }
//             .input-login {
//                 margin: 7px 0;
//                 .custom-input-password {
//                     position: relative;
//                     i {
//                         position: absolute;
//                         right: 10px;
//                         top: 10px;
//                         cursor: pointer;
//                     }
//                 }
//             }
//             .btn-login {
//                 width: 100%;
//                 margin: 10px 0;
//                 height: 35px;
//                 border-radius: 15px;
//                 outline: none;
//                 border: none;
//                 color: white;
//                 font-size: 15;
//                 background: linear-gradient(90deg, #94719a, #3ac5c9);
//             }
//             .fogot-password {
//                 font-size: 12px;
//             }
//             .social-login {
//                 display: flex;
//                 // text-align: center;
//                 justify-content: center;
//                 margin-top: 10px;
//                 .google {
//                     font-size: 30px;
//                     background: red;
//                     border-radius: 50%;
//                     height: 50px;
//                     width: 50px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     color: white;
//                     margin-right: 10px;
//                 }
//                 .facebook {
//                     font-size: 30px;
//                     background: #307aaf;
//                     border-radius: 50%;
//                     height: 50px;
//                     width: 50px;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     color: white;
//                 }
//             }
//         }
//     }
// }

////////////
